*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #title{
    top: 10px;
    }

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    background-image: url("./background-1311251_1280.webp");
    background-size: cover;
    background-repeat: no-repeat;
    
  
  }
  
  
  
  .container{
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 10px 20px 20px;
    background-color: rgb(183, 171, 208);
    border-radius: 20px;
  
  }
  
  .display{
    
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 20px;
  
  
  }
  
  .buttons{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4,1fr);
  
  
  }
  button{
  
    padding:  10px;
    border-radius: 100px;
    border: none;
    background-color: antiquewhite;
  cursor: pointer;
  
  }
  .operator{
    background-color: rgb(224, 188, 122);
    color: black;
  }
  #result{
      background-color: rgb(195, 195, 220);
  }